#left-image {
  width: 60%;
  float: left;
  margin-right: 15px;

}

.right-image {
  width: 100%;
  margin-bottom: 15px;

}

.select-image {
  width: 100%;
  margin-bottom: 15px;
  border-color: red;
  border-style: solid;

}

.comparison-image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

}

#visualization-image {
  width: 100%;
  margin-bottom: 15px;

}

h3 {
  color: #606060;
}

h4 {
  color: #606060;
}

h6 {
  color: #606060;
  text-align: center;
}

p {
  font-size: 15px;
  color: #606060;
}

tr {
  font-size: 15px;
  text-align: left;
  color: #606060;
}

body {
  background-color: lightgray;
}

.col-md-4 {
  background-color: white;
}

.col-md-6 {
  background-color: white;
}

.col-md-8 {
  background-color: white;
}

.table-responsive {
  background-color: white;
}
